$primary-color: #ffc832;
$scoundry-color: #22272e;
$card-bg-color: #959799;
$light-scoundry-color: #32363c;
$dark-color: #15141b;
$white-color: #fff;
$transition: all 0.3s ease;
$padding: 15px;
section {
  .offers-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
