$primary-color: #ffc832;
.profile {
  width: clamp(10rem, 20rem, 30rem);
  // height: clamp(200px, 280px, 350px);
  border-radius: 10px;
  display: none;
  position: absolute;
  top: 100%;
  right: 20%;
  padding: 10px;
  @media (max-width: 768px) {
    right: 3%;
  }
  img {
    border-radius: 50%;
    align-self: center;
  }
  h3 {
    font-weight: 200;
    border-bottom: 1px solid #959799;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      background: transparent;
      border: none;
      border-bottom: 1px solid $primary-color;
      caret-color: $primary-color;
      outline: none;
      color: $primary-color;
      font-size: 18px;
    }
    button {
      border: none;
      outline: none;
      background: transparent;
      // opacity: 0;
      padding: 0;
      &:hover {
        background: none;
        color: none;
      }
    }
    // &:hover button {
    //   opacity: 1;
    //   cursor: pointer;
    // }
  }
  .logout,
  button {
    align-self: center;
  }
}

.profile.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
